@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
}
.header-section {
	background-color: #293237;
}




.inner-content {
	width: 980px;
	margin: 0 auto;
	/* padding-top: 0px; */
	padding-bottom: 33px;
	position: relative;
}

.mail-details {
	background: url(images/mail.png) no-repeat;
}

.phone-details {
	background: url(images/call.png) no-repeat;
}

.skype-details {
	background: url(images/skype-icon.png) no-repeat;
}


.header-section > .inner-content span {
	color: #ffffff;
	font-size: 15px;
	padding-left: 30px;
}
.inner-content span span {
	padding-left: 0px;
}


.cart {
	background: url(images/cart.png) no-repeat;
	background-position: 50px 0px;
	
	padding-left: 50px;
}

.navigation {
	background-color: #2f383d;
	padding-top: 20px;
	/* padding:  20px; */
}

.navigation .inner-content {
	background: url(images/logo.png) no-repeat;
}

.inner-content h1 {
	margin-top: 0px;
	color: #97a0a5;
	text-transform: uppercase;
	font-family: "Helvetica";
	padding-left: 90px;
	display: inline;
	/* padding-left: 40px; */
}

.tabs li {
	display: inline;
}

.tabs {
	display: inline;
	/* padding-bottom: 50px; */
}

.tabs li a {
	text-decoration: none;
font-family: "Gill Sans";
color: #97a0a5;
text-transform: capitalize;
font-size: 13px;
padding-left: 15px;
padding-right: 15px;
}

.tabs li a:after {
	content: url(images/down-arrow.png);
	padding-left: 4px;
}

.search {
	background: url(images/search.png) no-repeat;
	
	position: absolute;
	top: 14px;
	right: 0px;
	height: 78px;
	width: 70px;
	
}

.theme {
	background: url(images/bg.png) no-repeat center;
	height: 553px;
	/* width: 2065px; */
	position: relative;
	
}

.previous-screen {
	background: url(images/left-arrow.png) no-repeat;
	background-position: 25px 25px;
	background-color:  black;
	position: absolute;
	top: 250px;
	left: 0px;
	height: 78px;
	width: 70px;
	
}



.next-screen {
	background: url(images/right-arrow.png) no-repeat;
	background-position: 25px 25px;
	background-color:  black;
	position: absolute;
	top: 250px;
	right: 0px;
	height: 78px;
	width: 70px;
	
}


.theme h2 {
	margin-top: 0px;
		text-transform: capitalize;
		color: white;
}
.theme h1 {
	margin-top: 0px;
		text-transform: capitalize;
				color: white;
}


.theme p {
	text-transform: capitalize;
			color: white;
}
.theme-name-moto {
	text-align: center;
	position: absolute;
	display: block;
	bottom: 30px;
	right: 0;
	left: 0;
}



.purchase-caption h2 {
color: #303539;
margin-top: 0px;
text-transform: capitalize;
}

.purchase-section p {
	color: #9da6af;
}

.purchase-button {
	background-color: #0072a6;
	padding: 11px;
	border-radius: 6px;
	color: #ffffff;
	float: right;
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	top: 46px;
	right: 10px;
}

.inner-content:after {
	content: '';
	display: block;
	clear: both;
}

.purchase-caption {
	padding-top: 50px;
	float: left;
	width: 721px;
}

.media {
	
	margin-top:50px;
		
}

.media .inner-content > div {
	width: 25%;
	float: left;
	height: 100px;
	padding-top: 185px;
	text-align:center;
	text-transform: capitalize;
	padding-bottom: 30px;
}

.media .inner-content > div > h3 {
	font-family:"Verdana";
	font-weight: normal;
	font-size: 15px;
}

.media .inner-content > div > p {
	font-family:"Verdana";
	font-size: 12px;
	color:  #97abb6;
	line-height: 20px;
	text-align: center;
}

.cloud {
	background:url(images/cloud.png) no-repeat top center;
}

.bulb {
	background:url(images/bulb.png) no-repeat top center;
}

.ball {
	background: url(images/ball.png) no-repeat top center;
}

.cot {
	background:url(images/cot.png) no-repeat top center;
}


.menu-options li.selected {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #21c2f8;
	/* color:  #ffffff; */
}
.ash-bg {                                          
	background-color: #eff4f7;
}

.menu-options li.selected a {
	color: #ffffff;
}
.menu-options {
	list-style-type: none;
	
	
	text-align: center;
}

.menu-options li a {
	text-decoration: none;
	color: #9da7a9;
	text-transform: capitalize;
	/* border: 1px solid #ebebeb; */
	/* padding: 13px; */
	/* background-color: #ffffff; */
}

.menu-options li {
	display: inline;
	padding: 9px 20px;
	background-color: #ffffff;
	
	
}

.inner-content h2 {
	font-weight: normal;
	text-align: center;
	text-transform: capitalize;
	color:  #2e383a;
	font-size: 34px;
	padding-bottom: 20px;
	padding-top: 50px;
	font-family: "Verdana";
}


.collage {
	float: left;
}


.work-title {
	background-color: #30393e;
	display: inline-block;
	width: 320px;
	vertical-align: top;
}

.work-title-content {
	padding: 20px;
	
	/* height: 180px; */
}

.work-title-content > h3 {
	color:#f9feff;
	font-weight:  normal;
}
.work-title-content > p {
	color: #707b7f;
}

.work-title-footer {
	background-color: #121413;
	height: 55px;
}

.work-title-footer > .work-title-content > a {
	color: #32ccfe;
	text-decoration: none;
}
	
.view-more-icon {
	float: right;
}
.blue {
	background-color: #76bfea;
}


.blue > .work-title-footer > .work-title-content > a {
	color: #fffcf7;
}	

.blue > .work-title-content > p {	
	color: #fffcf7;
}
.blue > .work-title-footer {
	background-color: #0072a8;
}

.left-arrow {
	display:  inline-block;
	vertical-align: 200px;
	border-color: transparent #2f383d;
	border-style: solid;
	border-width: 15px 15px 15px 0px;
	height: 0px;
	width: 0px; 
}


.img-navigation {
	text-align: center;
	padding-top: 30px;
	padding-bottom:  30px;
	/* margin-top: 50px; */
	/* height: 129px; */
}

.img-navigation a {
	background-color: #ced0cd;
	width: 10px;
	height: 10px;
	display:  inline-block;
	border-radius: 10px;
}


.img-navigation {
	content: '';
	clear: both;
	display: block;
}

.img-navigation a.selected {
	background-color: #20c4f9;
}

.mobile-display {
	background-image: url(images/bg-img.png);
	height: 622px;
}

.mobile-display-content > div {
	padding-left: 100px;
}
.mobile-display:after{
	content: '';
	clear: both;
	display: block;
}
.mobile-display-content {
	float: right;
	width: 500px;
	/* padding-right: 600px; */
	padding-top: 100px;
}

.smart-display {
	background: url(images/hex1.png) no-repeat;
}

.user-friendly {
	background: url(images/hex2.png) no-repeat;
}

.flexibility {
	background: url(images/hex3.png) no-repeat;
}


.learn {
	border: 1px solid #ffffff;
}
.mobile-display-content > a{
	
padding: 10px;
	color: #fef9f6;
	text-decoration: none;
}
.purchase {
	background-color: #21c2f8;
	border-radius: 10px;
	
}


/*.mobile-display-content > h1{
	font-family: "Helvetica";
	font-weight: normal;
	color: #fef9f6;
	font-size: x-large;
}


.mobile-display-content > div > h3,p {
	font-family: "Verdana";
	font-weight: normal;
	color: #fef9f6;
}
*/

.social-feeds {
	float: left;
	
}

.images-block {
	float:right;
	width: 550px;
	height: 202px;
	
}

.images-block > div {
	float: left;
	width: 164px;
}

.profile-photo {
	float: left;
	
}

.social-feeds-content {
	float: right;
	width: 325px;
	padding-left: 20px;
}

.people-say:after {
	
content: '';
	clear: both;
	display: block;
}


.inner-content > .people-say h3,p {
	text-align: center;
	/* margin-bottom:  30px; */
}
	

.social-feeds-content h4,p {
	margin: 0;
}

.adelfox-design > h2 {
	text-align: center;
	
}

.adelfox-design > div {
	width: 326px;
	float: left;
}

.adelfox-design:after {
	content: '';
	clear: both;
	display: block;
}
	
.adelfox-capabilities {
    margin-top: 50px;
	
}
.adelfox-capabilities > h2 {
	text-align: center;
}

.adelfox-capabilities > div {	
width: 25%;
float: left;
height: 100px;
padding-top: 139px;
text-align: center;
padding-bottom: 30px;
background-position: 50px 0px;
}
.photoshop {
	background: url(images/ps.png) no-repeat;
}

.javascript {
	background: url(images/js.png) no-repeat;
}

.photography {
	background: url(images/pg.png) no-repeat;
}

.wordpress {
	background: url(images/wp.png) no-repeat;
}

.adelfox-capabilities:after {
	content: '';
	clear: both;
	display: block;
}

.why-adelfox {
	float: left;
}

.motive {
	padding: 10px;
	border: 1px solid #e0e5e8;
	color: #6b7376;
	width: 470px;
}

.brief {
	color: #9eaab6;
}

.accordion-section {
	background-color: 
	
